{
  "arrowParens": "always",
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.css", "*.scss", "*.yml", "*.md"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
